@model List<IPortfolioProject.Models.TblSkills>

<section class="skill">

    <h3 class="h3 skills-title">@ViewBag.v1</h3>

    <ul class="skills-list content-card">

        @foreach (var item in Model)
        {
            <li class="skills-item">

                <div class="title-wrapper">
                    <h5 class="h5">@item.SkillName</h5>
                    <data value="@item.Percentage">@item.Percentage%</data>
                </div>

                <div class="skill-progress-bg">
                    <div class="skill-progress-fill" style="width: @item.Percentage%;"></div>
                </div>

            </li>
        }

    </ul>

</section>
